@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');

:root{
    --primary-color: #9F8772;
    --second-color: #F1D3B3;
    --third-color: #F4EAD5;
    --fourth-color: #D7C0AE;
    --fifth-color: #876445;
}

*{
    font-family: 'Roboto Slab', serif;
}

header{
    display: flex;
    height: 55px;
    background-color: var(--primary-color);
    width: 100%;
}

body{
    height: 100%;
    width: 100%;
}

.sale{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--third-color);
    text-transform: uppercase;
}


.first-pg{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 95vh;
    display: flex;
    background-image: url("bg.jpg");
    background-repeat: no-repeat;
    /*background: rgb(201,179,155);
    background: linear-gradient(0deg, rgba(201,179,155,1) 16%, rgba(217,196,171,1) 41%, rgba(230,209,184,1) 73%, rgba(230,209,184,1) 99%);*/
}

ul {
    display: flex;
    flex-direction: row;
    padding-inline-start: 0px;
}

.nav-class {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-around;
    width: 100%;
    height: 30%;
    font-size: large;
    font-weight: bold;
    color: black;
}

.first-u li{
    display: inline;
    list-style: none;
    padding-left: 20px;
    margin-top: 15px;
}


.second-u li{
    list-style: none;
    font-weight: bolder;
    font-size: 40px;
}

.third-u li{
    display: inline;
    list-style: none;
    padding-left: 20px;
    margin-top: 15px;
}

.first-co {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.first-pg h1 {
    font-size: 60px;
    font-weight: 300;
    text-align: center;
    justify-content: center;
    font-weight: bolder;
    font-size: 50px;
}


.first-pg h2 {
    font-size: 20px;
    font-weight: 100;
    text-align: center;
    justify-content: center;
    font-weight: bold;
}

.btn{
    width: 150px;
    height: 45px;
    background-color: var(--primary-color);
    color: var(--third-color);
    border: none;
    border-radius: 20px;
    margin: 3px 0px;
    font-size: 18px;
}