@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');

:root{
    --primary-color: #9F8772;
    --second-color: #F1D3B3;
    --third-color: #F4EAD5;
    --fourth-color: #D7C0AE;
    --fifth-color: #AD8B73;
}

*{
    font-family: 'Roboto Slab', serif;
}

