@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');

:root{
    --primary-color: #9F8772;
    --second-color: #F1D3B3;
    --third-color: #F4EAD5;
    --fourth-color: #D7C0AE;
    --fifth-color: #876445;
}

*{
    font-family: 'Roboto Slab', serif;
}

header{
    display: flex;
    height: 55px;
    background-color: var(--primary-color);
    width: 100%;
}

body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.sale{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--third-color);
    text-transform: uppercase;
}


.first-pg{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 95vh;
    display: flex;
    /*background-image: url("bg.jpg");
    background-repeat: no-repeat;*/
    /*background: rgb(201,179,155);
    background: linear-gradient(0deg, rgba(201,179,155,1) 16%, rgba(217,196,171,1) 41%, rgba(230,209,184,1) 73%, rgba(230,209,184,1) 99%);*/
    background-color: var(--second-color);
}

ul {
    display: flex;
    flex-direction: row;
    padding-inline-start: 0px;
}

.nav-class {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-around;
    width: 100%;
    height: 30%;
    font-size: large;
    font-weight: bold;
    color: black;
}

.first-u li{
    display: inline;
    list-style: none;
    padding-left: 20px;
    margin-top: 15px;
}


.second-u li{
    list-style: none;
    font-weight: bolder;
    font-size: 40px;
}

.third-u li{
    display: inline;
    list-style: none;
    padding-left: 20px;
    margin-top: 15px;
}

.first-co {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.first-pg .first-h1 {
    font-size: 60px;
    font-weight: 300;
    text-align: center;
    justify-content: center;
    font-weight: bolder;
    font-size: 50px;
}


.first-pg h2 {
    font-size: 20px;
    font-weight: 100;
    text-align: center;
    justify-content: center;
    font-weight: bold;
}

.first-btn{
    width: 150px;
    height: 45px;
    background-color: var(--primary-color);
    color: var(--third-color);
    border: none;
    border-radius: 20px;
    margin: 3px 0px;
    font-size: 18px;
}

section{
    width: 100vw;
    height: 100vh;
}

.second-se{
    background-color: var(--third-color);
    /*background: rgb(226,205,179);
    background: linear-gradient(0deg, rgba(226,205,179,1) 3%, rgba(230,216,195,1) 23%, rgba(246,238,225,0.9248949579831933) 50%, rgba(247,233,210,1) 92%);*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    justify-content: space-around;
}

.description{
    margin-top: 30px;
    font-weight: bolder;
    font-size: 50px;
}
.second-btn{
    width: 250px;
    height: 45px;
    background-color: var(--primary-color);
    color: var(--third-color);
    border: none;
    border-radius: 20px;
    font-size: 18px;
    text-align: center;
}

.imgs{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

img{
    padding: 40px;

}
.imgs p{
    font-size: large;
    font-weight: bold;
}

#res{
    color: var(--primary-color);
    font-size: 30px;
    margin: 0;
    padding: 0;
}

.third-se{
    display: flex;
    background-color: #D7C0AE;
}

.top-rating img{
    padding: 0;
    align-items: flex-start;
}

.text{
    margin-top: 8%;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
}


.price h4{
    font-size: larger;
    display: inline;
    color: var(--primary-color);
}
#invalid{
    margin-left: 5%;
    font-size: large;
    text-decoration: line-through;
    color: black;
}

.product-description{
    display: flex;
    margin-left: 10%;
    font-size: large;
    font-weight: bold;
}

.third-btn{
    width: 150px;
    height: 45px;
    background-color: var(--primary-color);
    color: var(--third-color);
    border: none;
    border-radius: 20px;
    margin: 3px 0px;
    font-size: 18px;
}

.product{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.fourth-se{
    display: flex;
    flex-direction: column;
    background-color: var(--fifth-color);
}

.customer-review{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.customer-review h1{
    font-size: 35px;
    font-weight: bolder;
}

.customer-review p{
    font-size: 20px;
    font-weight: 20%;
}

.customer-review h5{
    font-size: 20px;
    font-weight: 20%;
    color: var(--primary-color);
}

.blog{
    display: flex;
    flex: 1;
}

.left{
    flex: 1;
    background-color: var(--third-color);
}

.middle{
    flex: 1;
    background-color: var(--second-color);
}
.right{
    flex: 1;
    background-color: var(--third-color);
}

